* {
    box-sizing: border-box;

}

.container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.main-carousel {
    background: #f7f2e3;
    margin-top: 20px;
}

.carousel-cell {
    display: flex;
    justify-content: center;
    width: 100%;
    /* full width */
    height: 600px;
    /* height of carousel */
    margin-right: 20px;
    overflow: hidden;
    background-size: cover;
}

.carousel-cell img {

    height: 100%;
    max-height: auto;

}

.title {
    font-size: 50px;
    font-family: 'Bungee Inline', cursive;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px white;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: grey;

}

/* no circle */
.flickity-button {
    background: transparent;
}

/* big previous & next buttons */
.flickity-prev-next-button {
    width: 100px;
    height: 150px;
}

/* icon color */
.flickity-button-icon {
    fill: grey;
}

/* hide disabled button */
.flickity-button:disabled {
    display: none;
}